<slider>
    <div class="container">
        <div class="slider">
            <div class="slider-line">
                <img src="../../Static/Image/spb.jpg" alt="Spb" width="1000" height="408" />
                <img src="../../Static/Image/ny.jpg" alt="NY" width="1000" height="408" />
                <img src="../../Static/Image/london.jpg" alt="London" width="1000" height="408" />
            </div>
        </div>
        <button class="slider-prev">Prev</button>
        <button class="slider-next">Next</button>
    </div>
</slider>
