<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RabotaRuParser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RabotaRuParser.Properties.Settings>
            <setting name="OnlyWithPhones" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoParseEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VacancyTitle" serializeAs="String">
                <value />
            </setting>
            <setting name="WaitTime" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ParseTime" serializeAs="String">
                <value>14:00,23:00</value>
            </setting>
            <setting name="VpnEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VpnRotate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VpnCountryIndex" serializeAs="String">
                <value>0</value>
            </setting>
        </RabotaRuParser.Properties.Settings>
    </userSettings>
</configuration>